*{
  margin:0px;
}
.container {
  width: 100vw;
  height: 100vh;
  border: 2px solid black;
  background-color: #ade7ff;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#height,
#weight {
  width: 150px;
  height: 35px;
  margin-top: 20px;
  padding: 5px;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 16px;
}

#weight-guide {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: #333;
}

#results {
  font-size: 35px;
  margin-top: 20px;
  color: #333;
  text-align: center;
}

button {
  width: 260px;
  height: 45px;
  margin-top: 30px;
  background-color: #fff;
  padding: 5px 30px;
  border-radius: 8px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #212121;
  color: #fff;
  transform: scale(1.05);
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 28px;
  color: #212121;
  text-align: center;
}

@media (max-width: 768px) {
  #height,
  #weight,
  button {
      width: 100%;
      max-width: 300px;
  }

  h1 {
      font-size: 24px;
  }

  #results {
      font-size: 28px;
  }
}
